<br>
<div class="card ">
    <div class="card-header">
        Explore data.
        <span class="float-right data-info">

        </span>
    </div>

    <div class="card-body">

        <div class="row image-list"> </div>

    </div>
</div>

<script id="temp-image-card" type="text/template">
    {{foreach m in rows}}

    <div class="media mb-2">
        <img class="mr-3" src="/image{{m.pathThumbnail}}" alt="thumbnail">
        <div class="media-body">
            <h5 class="mt-0">{{m.path}}</h5>
            {{foreach k in m.contentKeys}}
                {{k}}={{m.content[k]}} ;
            {{end}}
        </div>
    </div>

    {{end}}
</script>